*{
margin:0px;
box-sizing:border-box;
}
body{
background-color:#538136;
}
#outer{
height:1400px;
width:1000px;
margin:auto;
border-radius:30px;
//background:white;
}

#nav{
height:60px;
width:1000px;
border-radius:10px 10px 0px 0px ;
border-bottom:1px solid #ddddd;
background:white;

}
#navbar{
height:60px;
width:700px;
/* border:none; */
float:left;
}
#navbar ul {
height:60px;
padding:15px;
display:flex;
justify-content:space-around;
align-items:center;

}
#navbar ul li{
list-style:none;
}
#navbar ul li a{
color:#827878;
text-decoration:none;
font-weight:bold;
}
#navbar ul li a:hover{
color:green;
font-size:20px;
text-decoration:none;

}
#srch{
height:60px;
width:290px;
padding:20px 90px;
float:left;
color:white;
}

#slide{
height:300px;
width:auto;
margin-top:10px;

}
#main-Login{
height:700px;
width:auto;
/* border-radius:0px 0px 30px 30px; */
margin-top:10px;
display:flex;
/* background:crimson; */
/* border-radius:30px 30px 30px 30px ; */

}
.left{
	height:700px;
width:50%;
background-image:url("../images/sofa.avif");                 
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
color:white;
/* border-radius:0px 0px 0px 30px ; */

/* margin-top:100px; */
}

.left h1{
font-size:40px;
text-align:center;
}

/* RIGHT SIDE LOGIN */

.right{
height:700px;
width:50%;
display:flex;
align-items:center;
justify-content:center;
background:white;
/* border-radius:0px 30px 30px 0px; */

/* margin-top:100px; */
}

.login-box{
width:320px;
padding:30px;
background:white;
box-shadow:0 0 10px rgba(0,0,0,0.2);
border-radius:8px;
}

.login-box h2{
text-align:center;
margin-bottom:20px;
color:green;
}

.input-box{
margin-bottom:15px;
}

.input-box input{
width:100%;
padding:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:green;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:darkgreen;
}

#left{
height:700px;
width:700px;
padding:35px;
float:left;
border-radius:0px 0px 0px 30px;
background:tomato;
}
#right{
height:700px;
width:298px;
background:crimson;
float:right;
border-radius:0px 0px 30px 0px;
}
#main{
height:700px;
width:auto;
border-radius:0px 0px 30px 30px ;
margin-top:10px;
background:skyblue;
}
#footer{
height:300px;
width:auto;
border-radius:0px 0px 30px 30px ;
margin-top:20px;
border:1px solid ;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-around;
align-items:center;
background:white;

.box{
height:250px;
width:260px;
background:white;
}
}
.box img{
width:60px;
margin:5px;
}
p{
	font-size:20px;
}